@charset 'utf-8';

@import 'settings';
@import 'foundation/foundation';
// @import 'motion-ui/motion-ui';

$flex: true; // Set to true to enable flex-mode

@if $flex {
	$global-flexbox: true !global;
}

@include foundation-global-styles;

@if not $flex {
	@include foundation-grid;
}
@else {
	@include foundation-flex-grid;
}

@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

@if $flex {
	@include foundation-flex-classes;
}

// @include motion-ui-transitions;
// @include motion-ui-animations;

button.radius, .button.radius {
	border-radius: 3px;
}
button.round, .button.round {
	border-radius: 1000px;
}

.listHeader {
	div {
		font-size: 0.7rem;
		font-weight: bold;	
	}
}
.listData {
	div {
		font-size: 0.9rem;
	}
}

.nav-button {
	padding: 0px;
}

.button-icon {
	font-size: 35px;
    color: #fff;
}
.settings-icon {
	font-size: 35px;
    color: map-get($foundation-palette, primary);
}